In [4]:
!git add .

^C

# SparkSQL and DataFrames 

<a href = "http://yogen.io"><img src="http://yogen.io/assets/logo.svg" alt="yogen" style="width: 200px; float: right;"/></a>

## RDDs, DataSets, and DataFrames

RDDs are the original interface for Spark programming.

DataFrames were introduced in 1.3

Datasets were introduced in 1.6, and unified with DataFrames in 2.0

### Advantages of DataFrames:

from https://www.datacamp.com/community/tutorials/apache-spark-python:

> More specifically, the performance improvements are due to two things, which you’ll often come across when you’re reading up DataFrames: custom memory management (project Tungsten), which will make sure that your Spark jobs much faster given CPU constraints, and optimized execution plans (Catalyst optimizer), of which the logical plan of the DataFrame is a part.

## SparkSQL and DataFrames 


pyspark does not have the Dataset API, which is available only if you use Spark from a statically typed language: Scala or Java.

From https://spark.apache.org/docs/2.2.0/sql-programming-guide.html:

> A DataFrame is a Dataset organized into named columns. It is conceptually equivalent to a table in a relational database or a data frame in R/Python, but with richer optimizations under the hood. DataFrames can be constructed from a wide array of sources such as: structured data files, tables in Hive, external databases, or existing RDDs. The DataFrame API is available in Scala, Java, Python, and R. In Scala and Java, a DataFrame is represented by a Dataset of Rows. In the Scala API, DataFrame is simply a type alias of Dataset[Row]. While, in Java API, users need to use Dataset&lt;Row> to represent a DataFrame.

### The pyspark.sql module

Important classes of Spark SQL and DataFrames:

* `pyspark.sql.SparkSession` Main entry point for DataFrame and SQL functionality.

* `pyspark.sql.DataFrame` A distributed collection of data grouped into named columns.

* `pyspark.sql.Column` A column expression in a DataFrame.

* `pyspark.sql.Row` A row of data in a DataFrame.

* `pyspark.sql.GroupedData` Aggregation methods, returned by DataFrame.groupBy().

* `pyspark.sql.DataFrameNaFunctions` Methods for handling missing data (null values).

* `pyspark.sql.DataFrameStatFunctions` Methods for statistics functionality.

* `pyspark.sql.functions` List of built-in functions available for DataFrame.

* `pyspark.sql.types` List of data types available.

* `pyspark.sql.Window` For working with window functions.

http://spark.apache.org/docs/2.2.0/api/python/pyspark.sql.html

https://spark.apache.org/docs/2.2.0/sql-programming-guide.html

## SparkSession

The traditional way to interact with Spark is the SparkContext. In the notebooks we get that from the pyspark driver.

From 2.0 we can use SparkSession to replace SparkConf, SparkContext and SQLContext

In [1]:
sc

In [5]:
from pyspark.sql import SparkSession
session = SparkSession.builder.getOrCreate()
session.sparkContext

#### Passing other options to spark session:

In [6]:
session = SparkSession.builder.config('comeoption.key','somevalue').getOrCreate()

### Creating DataFrames

SparkSession.createDataFrame: from an RDD, a list or a pandas.DataFrame.

In [7]:
import random

In [8]:
random.seed(42)
ids=range(12)
positions = [random.choice(['mechanic','sales','manager']) for id_ in ids]
positions

rows = zip(ids,positions)

df = session.createDataFrame(rows)
df.show(5)

+---+--------+
| _1|      _2|
+---+--------+
|  0| manager|
|  1|mechanic|
|  2|mechanic|
|  3| manager|
|  4|   sales|
+---+--------+
only showing top 5 rows

### Creating DataFrames

* From RDDs
* from Hive tables
* From Spark sources: parquet (default), json, jdbc, orc, libsvm, csv, text

#### From RDDs

In [27]:
rdd = session.sparkContext.textFile('../../../../../Data/coupon150720.csv')
rdd.take(5)
session.createDataFrame(zip(ids,positions),schema=['ids','positions'])
split_rdd = rdd.map(lambda line:line.split(','))
new_df = session.createDataFrame(split_rdd)
new_df

DataFrame[_1: string, _2: string, _3: string, _4: string, _5: string, _6: string, _7: string, _8: string, _9: string, _10: string, _11: string, _12: string, _13: string, _14: string, _15: string]

In [30]:
from pyspark.sql import types

In [31]:
fields = [types.StructField('id',types.IntegerType()),
         types.StructField('position',types.StringType())]

my_schema = types.StructType(fields)
my_schema
df1 = session.createDataFrame(zip(ids,positions),schema=my_schema)

In [36]:
df_from_csv = session.read.csv('../../../../../Data/coupon150720.csv')
df_from_csv.show(5)

+--------------+---+---+---+---+---+------+---+---+---+----+----+------+----+----+
|           _c0|_c1|_c2|_c3|_c4|_c5|   _c6|_c7|_c8|_c9|_c10|_c11|  _c12|_c13|_c14|
+--------------+---+---+---+---+---+------+---+---+---+----+----+------+----+----+
|79062005698500|  1|MAA|AUH| 9W| 9W| 56.79|USD|  1|  H|   H|0526|150904|  OK|IAF0|
|79062005698500|  2|AUH|CDG| 9W| 9W| 84.34|USD|  1|  H|   H|6120|150905|  OK|IAF0|
|79062005924069|  1|CJB|MAA| 9W| 9W|  60.0|USD|  1|  H|   H|2768|150721|  OK|IAA0|
|79065668570385|  1|DEL|DXB| 9W| 9W|160.63|USD|  2|  S|   S|0546|150804|  OK|INA0|
|79065668737021|  1|AUH|IXE| 9W| 9W|152.46|USD|  1|  V|   V|0501|150803|  OK|INA0|
+--------------+---+---+---+---+---+------+---+---+---+----+----+------+----+----+
only showing top 5 rows

In [37]:
df_with_sql = session.sql('SELECT * FROM csv.`../../../../../Data/coupon150720.csv`')
df_with_sql.show()

+--------------+---+---+---+----+----+------+---+---+----+----+----+------+----+----+
|           _c0|_c1|_c2|_c3| _c4| _c5|   _c6|_c7|_c8| _c9|_c10|_c11|  _c12|_c13|_c14|
+--------------+---+---+---+----+----+------+---+---+----+----+----+------+----+----+
|79062005698500|  1|MAA|AUH|  9W|  9W| 56.79|USD|  1|   H|   H|0526|150904|  OK|IAF0|
|79062005698500|  2|AUH|CDG|  9W|  9W| 84.34|USD|  1|   H|   H|6120|150905|  OK|IAF0|
|79062005924069|  1|CJB|MAA|  9W|  9W|  60.0|USD|  1|   H|   H|2768|150721|  OK|IAA0|
|79065668570385|  1|DEL|DXB|  9W|  9W|160.63|USD|  2|   S|   S|0546|150804|  OK|INA0|
|79065668737021|  1|AUH|IXE|  9W|  9W|152.46|USD|  1|   V|   V|0501|150803|  OK|INA0|
|79062006192650|  1|RPR|BOM|  9W|  9W|  68.5|USD|  1|   K|   K|2202|150720|  OK|IAE0|
|79062006192650|  2|BOM|RPR|  9W|  9W|  68.5|USD|  1|   H|   H|0377|150721|  OK|IAE0|
|79062005733853|  1|DEL|DED|  9W|  9W| 56.16|USD|  1|   V|   V|2839|150801|  OK|INA0|
|79062005836987|  1|ATL|LGA|  AA|  AA|  28.3|USD|  1|   V|   V|3237|150903|  OK|INB0|
|79062005836987|  2|LGA|EWR|null|null|   0.0|USD|  1|null|null|VOID|  null|null|INA0|
|79062005836987|  3|EWR|BOM|  9W|  9W|176.09|USD|  1|   W|   W|0227|150903|  OK|INB0|
|79062005836987|  4|BOM|AMD|  9W|  9W| 12.02|USD|  1|   T|   T|2001|150905|  OK|INJ0|
|79062005836987|  5|AMD|BOM|  9W|  9W| 12.02|USD|  2|   T|   T|7104|150921|  OK|INJ0|
|79062005836987|  6|BOM|EWR|  9W|  9W|176.09|USD|  2|   W|   W|0228|150922|  OK|INB0|
|79062005836987|  7|EWR|ATL|  UA|  UA|  28.3|USD|  2|   K|   K|0568|150922|  OK|INB0|
|79062005862818|  1|LHR|BOM|  9W|  9W|101.65|USD|  1|   O|   O|0119|150820|  OK|INB0|
|79062005862818|  2|BOM|HKG|  9W|  9W| 57.76|USD|  1|   T|   T|0076|150821|  OK|INB0|
|79065668498895|  1|DXB|BOM|  9W|  9W| 54.44|USD|  1|   V|   V|0543|151105|  OK|INAQ|
|79065668498895|  2|BOM|DXB|  9W|  9W|  73.5|USD|  2|   K|   K|0544|151114|  OK|INAQ|
|79062005534346|  1|KTM|DEL|  9W|  9W| 24.92|USD|  1|   W|   W|0259|150722|  OK|INAQ|
+--------------+---+---+---+----+----+------+---+---+----+----+----+------+----+----+
only showing top 20 rows

### Inferring and specifying schemas

#### Fully specifying a schema

We need to create a `StructType` composed of `StructField`s. each of those specifies afiled with name, type and `nullable` properties.

#### From csv files

We can either read them directly into dataframes or read them as RDDs and transform that into a DataFrame. This second way will be very useful if we have unstructured data like web server logs.

#### From other types of data

Apache Parquet is a free and open-source column-oriented data store of the Apache Hadoop ecosystem. It is similar to the other columnar storage file formats available in Hadoop namely RCFile and Optimized RCFile. It is compatible with most of the data processing frameworks in the Hadoop environment.

### Basic operations with DataFrames

### Filtering and selecting

Syntax inspired in SQL.

In [41]:
df1.select('id')

+---+--------+
| id|position|
+---+--------+
|  0| manager|
|  1|mechanic|
|  2|mechanic|
|  3| manager|
|  4|   sales|
|  5|mechanic|
|  6|mechanic|
|  7|mechanic|
|  8| manager|
|  9|mechanic|
| 10| manager|
| 11| manager|
+---+--------+

In [55]:
df1[df1['position'] == 'manager'].show()

+---+--------+
| id|position|
+---+--------+
|  0| manager|
|  3| manager|
|  8| manager|
| 10| manager|
| 11| manager|
+---+--------+

In [50]:
df1[df1['position'] == 'manager'].show()
df1.where(df1['position']=='manager').select('id').show()

+---+--------+
| id|position|
+---+--------+
|  0| manager|
|  3| manager|
|  8| manager|
| 10| manager|
| 11| manager|
+---+--------+

+---+
| id|
+---+
|  0|
|  3|
|  8|
| 10|
| 11|
+---+

`where` is exactly synonimous with `filter`

In [58]:
!git push

Counting objects: 13, done.
Delta compression using up to 4 threads.
Compressing objects: 100% (13/13), done.
Writing objects: 100% (13/13), 2.82 MiB | 1.64 MiB/s, done.
Total 13 (delta 7), reused 0 (delta 0)
remote: Resolving deltas: 100% (7/7), completed with 6 local objects.
To https://github.com/hguadalupe/master-data-science.git
   74c1024..7dbddbc  master -> master

#### Exercise

Extract all employee ids which correspond to managers

### Adding columns

Dataframes are immutable, since they are built on top of RDDs, so we not assing to them. We need to create new RDDS with the appropriate columns.

### User defined functions

Creating `udf`s allows us to "vectorize" operations: write a standard function to process single elements, then build a udf with that that works on columns in a DataFrame, like a SQL function.

In [2]:
from pyspark.sql import functions

If we want the resulting columns to be of a particular type, we need to specify the return type. This is because in Python return types can not be inferred.

In [61]:
df1.select(functions.sqrt(df1['id'])).show()

+------------------+
|          SQRT(id)|
+------------------+
|               0.0|
|               1.0|
|1.4142135623730951|
|1.7320508075688772|
|               2.0|
|  2.23606797749979|
| 2.449489742783178|
|2.6457513110645907|
|2.8284271247461903|
|               3.0|
|3.1622776601683795|
|   3.3166247903554|
+------------------+

In [ ]:
udf_log1p = functions.udf(math.log)

In [62]:
df1=df.select('id',
             'position',
             lambda col: col*2)

AttributeError: 'function' object has no attribute '_get_object_id'

Think about this function: what is its return type?

#### Exercise: 

Create a 'salary' field in our df. make it 30000 for mechanics, 40000 for salespeople and 70000 for managers.

In [28]:
def assign_salary(position):
    salaries={'manager':70000,'sales':40000,'mechanic':30000}
    return salaries.get(position,'cuc')

assign_salary('mana')

salary = functions.udf(assign_salary)
df1.select('id','position',assign_salary('position')).show()

NameError: name 'df1' is not defined

In [32]:
def assign_salary(position):
    if role == 'manager':
        return 70000
    elif role == 'mechanic':
        return 30000
    else:
        return 40000
    
salary = functions.udf(assign_salary)
salary

### Summary statistics

https://databricks.com/blog/2015/06/02/statistical-and-mathematical-functions-with-dataframes-in-spark.html

### .crosstab()

### Grouping

### Intersections

Ver much like SQL joins.

In [78]:
data = list(zip([10,11,12,10,12,20,11,23,40],
           [5000,10000,2000,0,1000,500,3000,2000,2000],
           [random.choice(['madrid','barcelona','sevilla']) for _ in range(9)]))

data2 = list(zip([10,11,12,10,12],
           [5000,10000,2000,0,1000],
           [random.choice(['madrid','barcelona','sevilla']) for _ in range(5)]))

In [77]:
new_df = session.createDataFrame(data,schema=['id','salary','city'])
new_df2 = session.createDataFrame(data2,schema=['id','bonus','position']).cache()

In [74]:
new_df.show()

+---+-----+---------+
| id|bonus| position|
+---+-----+---------+
| 10| 5000|barcelona|
| 11|10000|   madrid|
| 12| 2000|  sevilla|
| 10|    0|barcelona|
| 12| 1000|  sevilla|
| 20|  500|  sevilla|
| 11| 3000|barcelona|
| 23| 2000|  sevilla|
| 40| 2000|   madrid|
+---+-----+---------+

In [66]:
new3 = new_df.join(new_df2)
new3.show()

AnalysisException: 'Detected cartesian product for INNER join between logical plans\nInMemoryRelation [id#277L, bonus#278L, position#279], true, 10000, StorageLevel(disk, memory, deserialized, 1 replicas)\n   +- Scan ExistingRDD[id#277L,bonus#278L,position#279]\nand\nInMemoryRelation [id#299L, bonus#300L, position#301], true, 10000, StorageLevel(disk, memory, deserialized, 1 replicas)\n   +- Scan ExistingRDD[id#299L,bonus#300L,position#301]\nJoin condition is missing or trivial.\nUse the CROSS JOIN syntax to allow cartesian products between these relations.;'

In [42]:
sc.uiWebUrl

'http://10.0.2.15:4040'

#### Exercise

Calculate the [z-score](http://www.statisticshowto.com/probability-and-statistics/z-score/) of each employee's salary for their location

In [48]:
new_df2.show()

AttributeError: 'function' object has no attribute 'show'

We can do each aggregation as in individual step, with a number of different syntaxes:

Or we can use the built-in functions defined in [the `pyspark.sql` module](http://spark.apache.org/docs/2.2.0/api/python/pyspark.sql.html#module-pyspark.sql.functions)

Once calculated, we annotate each employee with the values for their location and calculate their z-score

Note that we can build more complex boolean conditions for joining, as well as joining on columns that do not have the same name:

### Handling null values

## SQL querying

We need to register our DataFrame as a table in the SQL context in order to be able to query against it.

Once registered, we can perform queries as complex as we want.

#### Exercise:

replicate the previous exercise, but with SparkSQL instead of dataframe methods.

In [79]:
new_df.show()

+---+------+---------+
| id|salary|     city|
+---+------+---------+
| 10|  5000|barcelona|
| 11| 10000|   madrid|
| 12|  2000|  sevilla|
| 10|     0|barcelona|
| 12|  1000|  sevilla|
| 20|   500|  sevilla|
| 11|  3000|barcelona|
| 23|  2000|  sevilla|
| 40|  2000|   madrid|
+---+------+---------+

In [92]:
df1 = new_df.groupby('city').agg(functions.mean('salary'),functions.stddev_pop('salary'))
df1.show()

+---------+------------------+------------------+
|     city|       avg(salary)|stddev_pop(salary)|
+---------+------------------+------------------+
|  sevilla|            1375.0|  649.519052838329|
|   madrid|            6000.0|            4000.0|
|barcelona|2666.6666666666665|2054.8046676563254|
+---------+------------------+------------------+

In [99]:
joineddf = new_df.join(df1, 'city' )
joineddf.show()

+---------+---+------+------------------+------------------+
|     city| id|salary|       avg(salary)|stddev_pop(salary)|
+---------+---+------+------------------+------------------+
|  sevilla| 12|  2000|            1375.0|  649.519052838329|
|  sevilla| 12|  1000|            1375.0|  649.519052838329|
|  sevilla| 20|   500|            1375.0|  649.519052838329|
|  sevilla| 23|  2000|            1375.0|  649.519052838329|
|   madrid| 11| 10000|            6000.0|            4000.0|
|   madrid| 40|  2000|            6000.0|            4000.0|
|barcelona| 10|  5000|2666.6666666666665|2054.8046676563254|
|barcelona| 10|     0|2666.6666666666665|2054.8046676563254|
|barcelona| 11|  3000|2666.6666666666665|2054.8046676563254|
+---------+---+------+------------------+------------------+

In [105]:
result = joineddf.select('id','city','salary').((joineddf ['salary'] - joineddf ['salary']) / 
                                              joineddf ['stddev_pop(salary)']).alias('z-score')
result.show()

SyntaxError: invalid syntax (<ipython-input-105-67827e98e489>, line 1)

## Interoperation with Pandas

Easy peasy. We can convert a spark DataFrame into a Pandas one, which will `collect` it, and viceversa, which will distribute it.

## Writing out

In [12]:
raw_coupons = session.read.csv('../../../../../Data/coupon150720.csv')

In [35]:
raw_coupons.show(600)

+--------------+---+---+---+----+----+------+---+---+----+----+----+------+----+----+
|           _c0|_c1|_c2|_c3| _c4| _c5|   _c6|_c7|_c8| _c9|_c10|_c11|  _c12|_c13|_c14|
+--------------+---+---+---+----+----+------+---+---+----+----+----+------+----+----+
|79062005698500|  1|MAA|AUH|  9W|  9W| 56.79|USD|  1|   H|   H|0526|150904|  OK|IAF0|
|79062005698500|  2|AUH|CDG|  9W|  9W| 84.34|USD|  1|   H|   H|6120|150905|  OK|IAF0|
|79062005924069|  1|CJB|MAA|  9W|  9W|  60.0|USD|  1|   H|   H|2768|150721|  OK|IAA0|
|79065668570385|  1|DEL|DXB|  9W|  9W|160.63|USD|  2|   S|   S|0546|150804|  OK|INA0|
|79065668737021|  1|AUH|IXE|  9W|  9W|152.46|USD|  1|   V|   V|0501|150803|  OK|INA0|
|79062006192650|  1|RPR|BOM|  9W|  9W|  68.5|USD|  1|   K|   K|2202|150720|  OK|IAE0|
|79062006192650|  2|BOM|RPR|  9W|  9W|  68.5|USD|  1|   H|   H|0377|150721|  OK|IAE0|
|79062005733853|  1|DEL|DED|  9W|  9W| 56.16|USD|  1|   V|   V|2839|150801|  OK|INA0|
|79062005836987|  1|ATL|LGA|  AA|  AA|  28.3|USD|  1|   V|   V|3237|150903|  OK|INB0|
|79062005836987|  2|LGA|EWR|null|null|   0.0|USD|  1|null|null|VOID|  null|null|INA0|
|79062005836987|  3|EWR|BOM|  9W|  9W|176.09|USD|  1|   W|   W|0227|150903|  OK|INB0|
|79062005836987|  4|BOM|AMD|  9W|  9W| 12.02|USD|  1|   T|   T|2001|150905|  OK|INJ0|
|79062005836987|  5|AMD|BOM|  9W|  9W| 12.02|USD|  2|   T|   T|7104|150921|  OK|INJ0|
|79062005836987|  6|BOM|EWR|  9W|  9W|176.09|USD|  2|   W|   W|0228|150922|  OK|INB0|
|79062005836987|  7|EWR|ATL|  UA|  UA|  28.3|USD|  2|   K|   K|0568|150922|  OK|INB0|
|79062005862818|  1|LHR|BOM|  9W|  9W|101.65|USD|  1|   O|   O|0119|150820|  OK|INB0|
|79062005862818|  2|BOM|HKG|  9W|  9W| 57.76|USD|  1|   T|   T|0076|150821|  OK|INB0|
|79065668498895|  1|DXB|BOM|  9W|  9W| 54.44|USD|  1|   V|   V|0543|151105|  OK|INAQ|
|79065668498895|  2|BOM|DXB|  9W|  9W|  73.5|USD|  2|   K|   K|0544|151114|  OK|INAQ|
|79062005534346|  1|KTM|DEL|  9W|  9W| 24.92|USD|  1|   W|   W|0259|150722|  OK|INAQ|
|79062005534346|  2|DEL|KTM|  9W|  9W| 24.92|USD|  2|   W|   W|0260|150729|  OK|INAQ|
|79062005563920|  1|KTM|DEL|  9W|  9W| 32.44|USD|  1|   V|   V|0263|150720|  OK|INA0|
|79065668577637|  1|DXB|BOM|  9W|  9W|145.65|USD|  1|   Q|   Q|0537|150820|  OK|INAQ|
|79065668577637|  2|BOM|DXB|  9W|  9W|145.65|USD|  2|   Q|   Q|0538|150829|  OK|INAQ|
|79065668699963|  1|DXB|BOM|  9W|  9W| 83.03|USD|  1|   S|   S|0535|150726|  OK|INA0|
|79065668699963|  2|BOM|KUL|  MH|  9W|132.92|USD|  2|   H|   H|4211|150726|  OK|INA0|
|79065668699963|  3|KUL|BOM|  MH|  9W|117.28|USD|  3|   V|   V|4210|150809|  OK|INA0|
|79065668699963|  4|BOM|DXB|  9W|  9W| 40.83|USD|  4|   V|   V|0580|150810|  OK|INA0|
|79065668463100|  1|COK|DXB|  9W|  9W| 84.16|USD|  1|   V|   V|0528|150727|  OK|INA0|
|79065668514750|  1|TRV|AUH|  EY|  9W|  63.7|USD|  1|   O|   O|6627|150917|  OK|INA0|
|79065668523139|  1|KTM|BOM|  9W|  9W| 60.32|USD|  1|   O|   O|0265|150819|  OK|INAQ|
|79065668534777|  1|DXB|BOM|  9W|  9W|383.88|USD|  1|   N|   N|0579|150815|  OK|INA0|
|79065668481746|  1|DXB|BOM|  9W|  9W|107.24|USD|  1|   H|   H|0541|150721|  OK|INJ0|
|79065668481746|  2|BOM|CMB|  9W|  9W| 75.14|USD|  1|   T|   T|0252|150721|  OK|INJ0|
|79065668588534|  1|DXB|BOM|  9W|  9W| 59.89|USD|  1|   K|   K|0579|150916|  OK|INA0|
|79065668588534|  2|BOM|DXB|  9W|  9W| 65.33|USD|  2|   H|   H|0544|151031|  OK|INAQ|
|79065668779870|  1|DXB|DEL|  9W|  9W| 27.22|USD|  1|   W|   W|0547|150807|  OK|INAQ|
|79065668779870|  2|DEL|IDR|  9W|  9W| 62.55|USD|  2|   H|   H|2337|150808|  OK|INA0|
|79065668802947|  1|AUH|DEL|  9W|  9W|174.24|USD|  1|   V|   V|0581|150721|  OK|INA0|
|79065668802947|  2|DEL|HYD|  9W|  9W| 84.44|USD|  2|   H|   H|2627|150722|  OK|INA0|
|79062006158682|  1|UDR|BOM|  9W|  9W| 130.0|USD|  1|   L|   L|7026|151027|  OK|IAA0|
|79062005519973|  1|KTM|DEL|  9W|  9W| 31.06|USD|  1|   K|   K|0259|150719|  OK|INA0|
|79062005519973|  2|DEL|KTM|  9W|  9W| 24.92|USD|  2|   W|   W|0260|150722|  OK|INAQ|
|79065668652098|  1|SHJ|COK|  9W|  9W|313.09|USD|  1|   L|   L|0561|150719|  OK|INA0|
|79065668652098|  2|COK|SHJ|  9W|  9W|148.37|USD|  2|   V|   V|0562|150726|  OK|INA0|
|79065668653108|  1|DXB|DEL|  9W|  9W| 89.55|USD|  1|   O|   O|0547|150923|  OK|INJ0|
|79065668653108|  2|DEL|LKO|  9W|  9W| 22.05|USD|  1|   T|   T|2453|150924|  OK|INJ0|
|79065668749873|  1|LKO|AUH|  9W|  9W| 93.42|USD|  1|   W|   W|0512|150724|  OK|INAQ|
|79062005403464|  1|GOI|BOM|  9W|  9W|  39.0|USD|  1|   V|   V|0627|151123|  OK|IAA0|
|79065668462403|  1|YYZ|BRU|  9W|  9W| 88.98|USD|  1|   H|   H|0229|150907|  OK|IAF0|
|79065668462403|  2|BRU|ZAG|  OU|  OU| 22.34|USD|  1|   W|   W|0457|150908|  OK|IAN0|
|79065668462403|  3|ZAG|BRU|  OU|  OU| 22.34|USD|  1|   W|   W|0456|151006|  OK|IAN0|
|79065668462403|  4|BRU|YYZ|  9W|  9W| 88.98|USD|  1|   O|   O|0230|151006|  OK|IAF0|
|79065668462908|  1|DXB|DEL|  9W|  9W| 44.92|USD|  1|   H|   H|0547|151003|  OK|INA0|
|79065668462908|  2|DEL|KTM|  9W|  9W| 55.12|USD|  2|   H|   H|0264|151004|  OK|INAQ|
|79065668462908|  3|KTM|DEL|  9W|  9W| 42.61|USD|  3|   H|   H|0259|151203|  OK|INA0|
|79065668462908|  4|DEL|DXB|  9W|  9W| 35.39|USD|  4|   V|   V|0548|151203|  OK|INA0|
|79065668465916|  1|BLR|IXE|  9W|  9W| 49.08|USD|  1|   V|   V|2755|150811|  OK|INA0|
|79065668721431|  1|DXB|DEL|  9W|  9W| 40.83|USD|  1|   O|   O|0545|151120|  OK|INAQ|
|79065668721431|  2|DEL|DXB|  9W|  9W| 58.53|USD|  2|   H|   H|0548|151128|  OK|INAQ|
|79062005305018|  1|MAA|BOM|  9W|  9W|  48.5|USD|  1|   O|   O|0460|150821|  OK|IAE0|
|79062005305018|  2|BOM|MAA|  9W|  9W|  48.5|USD|  1|   W|   W|0469|150824|  OK|IAE0|
|79062005348349|  1|MAA|BOM|  9W|  9W|  56.0|USD|  1|   V|   V|0466|150808|  OK|IAE0|
|79062005348349|  2|BOM|MAA|  9W|  9W|  56.0|USD|  1|   W|   W|0481|150810|  OK|IAE0|
|79062005790140|  1|CDG|BOM|  9W|  9W|238.83|USD|  1|   K|   K|0125|150807|  OK|IAF0|
|79062005790140|  2|BOM|BLR|  9W|  9W|  41.4|USD|  1|   Y|   Y|0381|150808|  OK|IAN0|
|79062005790140|  3|BLR|BOM|  9W|  9W|  41.4|USD|  1|   T|   T|0478|150825|  OK|IAN0|
|79062005790140|  4|BOM|CDG|  9W|  9W|238.83|USD|  1|   L|   L|0124|150825|  OK|IAF0|
|79065668485324|  1|DXB|DEL|  9W|  9W| 27.22|USD|  1|   O|   O|0547|150926|  OK|INA0|
|79065668562607|  1|DEL|BOM|  9W|  9W| 62.45|USD|  1|   W|   W|0308|150812|  OK|INA0|
|79065668658624|  1|DXB|BOM|  9W|  9W|  24.5|USD|  1|   W|   W|0543|150808|  OK|INA0|
|79065668760260|  1|AUH|DEL|  9W|  9W|  73.5|USD|  1|   W|   W|0581|150728|  OK|INA0|
|79062006186866|  1|DEL|BKK|  9W|  9W| 97.45|USD|  1|   H|   H|0064|151208|  OK|INA0|
|79062006107411|  1|AMD|BOM|  9W|  9W|  24.4|USD|  1|   K|   K|0338|150730|  OK|INJ0|
|79062006107411|  2|BOM|SIN|  9W|  9W|122.19|USD|  1|   V|   V|0010|150730|  OK|INB0|
|79062006120180|  1|HYD|BLR|  9W|  9W|  75.5|USD|  1|   K|   K|2802|150728|  OK|IAE0|
|79062006120180|  2|BLR|HYD|  9W|  9W|  75.5|USD|  1|   K|   K|2741|150731|  OK|IAE0|
|79062005658478|  1|KTM|DEL|  9W|  9W| 32.44|USD|  1|   V|   V|0263|150720|  OK|INA0|
|79062005331455|  1|BOM|DEL|  9W|  9W| 294.0|USD|  1|   P|   P|0353|160411|  OK|IAA0|
|79065668512355|  1|BOM|BHO|  9W|  9W| 72.36|USD|  1|   H|   H|2625|150814|  OK|INA0|
|79065668582903|  1|SHJ|COK|  9W|  9W| 65.34|USD|  1|   V|   V|0561|150823|  OK|INA0|
|79065668582903|  2|COK|SHJ|  9W|  9W|238.22|USD|  2|   Q|   Q|0562|150908|  OK|INA0|
|79062005974573|  1|CDG|BOM|  9W|  9W|1057.6|USD|  1|   Y|   Y|0123|150823|  OK|INB0|
|79062005974573|  2|BOM|DAC|  9W|  9W|334.86|USD|  1|   Y|   Y|0276|150824|  OK|INJ0|
|79062005974573|  3|DAC|CCU|  9W|  9W|  71.7|USD|  1|   Y|   Y|0273|150828|  OK|INJ0|
|79062005974573|  4|CCU|BOM|  9W|  9W|118.09|USD|  2|   T|   T|0628|150828|  OK|INJ0|
|79062005974573|  5|BOM|CDG|  9W|  9W|408.59|USD|  2|   U|   U|0126|150829|  OK|INB0|
|79062006060658|  1|GOI|BOM|  9W|  9W| 34.39|USD|  1|   V|   V|0627|150728|  OK|IAJ0|
|79062006060658|  2|BOM|CJB|  9W|  9W|  66.6|USD|  1|   V|   V|2645|150728|  OK|IAB0|
|79062006149937|  1|BOM|GOI|  9W|  9W|  28.0|USD|  1|   W|   W|0479|151007|  OK|IAA0|
|79062005410298|  1|CMB|BOM|  9W|  9W|118.89|USD|  1|   W|   W|0251|150719|  OK|INAQ|
|79062005410298|  2|BOM|CMB|  9W|  9W| 98.89|USD|  2|   W|   W|0256|150723|  OK|INA0|
|79065668535124|  1|BOM|DXB|  9W|  9W|106.18|USD|  1|   H|   H|0580|150721|  OK|INA0|
|79065668796523|  1|DXB|BOM|  9W|  9W| 60.07|USD|  1|   K|   K|0543|150728|  OK|INJ0|
|79065668796523|  2|BOM|TRV|  9W|  9W| 36.55|USD|  1|   T|   T|0388|150729|  OK|INJ0|
|79065668796523|  3|TRV|BOM|  9W|  9W| 46.85|USD|  2|   T|   T|0389|150811|  OK|INJ0|
|79065668796523|  4|BOM|DXB|  9W|  9W| 77.01|USD|  2|   S|   S|0544|150811|  OK|INJ0|
|79065668457575|  1|TRZ|MAA|  9W|  9W| 66.07|USD|  1|   H|   H|2790|150721|  OK|INA0|
|79065668473823|  1|DXB|DEL|  9W|  9W| 62.61|USD|  1|   H|   H|0547|151012|  OK|INA0|
|79065668473823|  2|DEL|KTM|  9W|  9W| 55.43|USD|  2|   H|   H|0264|151013|  OK|INA0|
|79062005483551|  1|KTM|DEL|  9W|  9W| 32.44|USD|  1|   V|   V|0259|150719|  OK|INA0|
|79062005542388|  1|DAC|DEL|  9W|  9W|262.06|USD|  1|   T|   T|0271|150720|  OK|INJ0|
|79062005542388|  2|DEL|KTM|  9W|  9W|172.93|USD|  1|   T|   T|0260|150720|  OK|INJ0|
|79062005542388|  3|KTM|DEL|  9W|  9W| 11.92|USD|  2|   O|   O|0263|150724|  OK|INJ0|
|79062005542388|  4|DEL|DAC|  9W|  9W| 18.07|USD|  2|   O|   O|0272|150724|  OK|INJ0|
|79065668687888|  1|DXB|BOM|  9W|  9W|111.62|USD|  1|   V|   V|0579|150722|  OK|INA0|
|79065668687888|  2|BOM|GOI|  9W|  9W| 46.13|USD|  2|   H|   H|0626|150722|  OK|INA0|
|79065668761721|  1|YYZ|DEL|  9W|  9W| 493.3|USD|  1|   Q|   Q|0229|150820|  OK|IAE0|
|79065668761721|  2|DEL|YYZ|  9W|  9W| 493.3|USD|  1|   L|   L|0230|150906|  OK|IAE0|
|79065668789389|  1|DXB|BOM|  9W|  9W|106.17|USD|  1|   V|   V|0541|150723|  OK|INAQ|
|79065668789389|  2|BOM|DXB|  9W|  9W|228.69|USD|  2|   Q|   Q|0538|150824|  OK|INA0|
|79065668500569|  1|COK|AUH|  9W|  9W|191.94|USD|  1|   H|   H|0576|150724|  OK|IAE0|
|79065668509532|  1|BOM|HYD|  9W|  9W|103.83|USD|  1|   S|   S|7017|150727|  OK|INA0|
|79065668884987|  1|BOM|CMB|  9W|  9W| 97.42|USD|  1|   W|   W|0256|151216|  OK|INJ0|
|79065668884987|  2|CMB|MLE|  UL|  UL| 59.25|USD|  1|   N|   N|0101|151216|  OK|INJ0|
|79065668559922|  1|DXB|BOM|  9W|  9W| 92.56|USD|  1|   V|   V|0543|150722|  OK|INA0|
|79065668559922|  2|BOM|DXB|  9W|  9W|153.82|USD|  2|   K|   K|0544|150727|  OK|INA0|
|79065668790698|  1|AUH|LKO|  9W|  9W| 157.9|USD|  1|   W|   W|0511|150923|  OK|INA0|
|79062006018926|  1|MAA|SIN|  9W|  9W| 31.46|USD|  1|   W|   W|0016|150806|  OK|INA0|
|79062006086118|  1|IXC|DEL|  9W|  9W|  35.0|USD|  1|   O|   O|2235|150818|  OK|IAA0|
|79062006091967|  1|BOM|BLR|  9W|  9W|  55.0|USD|  1|   O|   O|2056|150825|  OK|IAA0|
|79062005397115|  1|BOM|GOI|  9W|  9W|  26.5|USD|  1|   W|   W|0446|150913|  OK|IAE0|
|79062005397115|  2|GOI|BOM|  9W|  9W|  26.5|USD|  1|   W|   W|0427|150929|  OK|IAE0|
|79062005397116|  1|BOM|GOI|  9W|  9W|  26.5|USD|  1|   W|   W|0446|150913|  OK|IAE0|
|79062005397116|  2|GOI|BOM|  9W|  9W|  26.5|USD|  1|   W|   W|0427|150929|  OK|IAE0|
|79062005397119|  1|BOM|GOI|  9W|  9W|  26.5|USD|  1|   W|   W|0446|150913|  OK|IAE0|
|79062005397119|  2|GOI|BOM|  9W|  9W|  26.5|USD|  1|   W|   W|0427|150929|  OK|IAE0|
|79065668464592|  1|COK|SHJ|  9W|  9W| 92.63|USD|  1|   H|   H|0562|150725|  OK|INAQ|
|79065668472942|  1|BKK|BOM|  9W|  9W|100.19|USD|  1|   S|   S|0067|150804|  OK|INA0|
|79065668472942|  2|BOM|AUH|  9W|  9W|103.35|USD|  2|   K|   K|0586|150805|  OK|INB0|
|79065668472942|  3|AUH|MAN|  EY|  9W|243.64|USD|  2|   K|   K|6388|150805|  OK|INBQ|
|79065668743478|  1|AUH|LKO|  9W|  9W| 157.9|USD|  1|   W|   W|0511|150722|  OK|INA0|
|79062006019440|  1|BOM|AMD|  9W|  9W|  27.0|USD|  1|   W|   W|0375|150728|  OK|IAA0|
|79065668503406|  1|GVA|CDG|  AF|  9W| 15.28|USD|  1|   O|   O|6874|151003|  OK|INB0|
|79065668503406|  2|CDG|BOM|  9W|  9W|137.86|USD|  1|   O|   O|0123|151003|  OK|INB0|
|79065668503406|  3|BOM|CDG|  9W|  9W| 86.58|USD|  2|   B|   B|0124|151108|  OK|INB0|
|79065668503406|  4|CDG|GVA|  AF|  9W|  9.59|USD|  2|   B|   B|6857|151108|  OK|INB0|
|79065668605504|  1|DXB|BOM|  9W|  9W| 83.03|USD|  1|   S|   S|0535|150806|  OK|INA0|
|79065668605504|  2|BOM|DXB|  9W|  9W| 83.03|USD|  2|   S|   S|0538|150816|  OK|INA0|
|79065668788764|  1|DXB|BOM|  9W|  9W|  2.45|USD|  1|   W|   W|0579|150809|  NS|INA0|
|79062006073163|  1|MCT|TRV|  9W|  9W| 80.62|USD|  1|   H|   H|0529|150815|  OK|INA0|
|79062006073163|  2|TRV|MCT|  9W|  9W|117.04|USD|  2|   S|   S|0530|150822|  OK|INA0|
|79065668666200|  1|DXB|DEL|  9W|  9W| 40.83|USD|  1|   O|   O|0547|150925|  OK|INAQ|
|79065668666200|  2|DEL|KTM|  9W|  9W| 55.12|USD|  2|   H|   H|0264|150926|  OK|INAQ|
|79065668666200|  3|KTM|DEL|  9W|  9W| 42.61|USD|  3|   H|   H|0259|151123|  OK|INA0|
|79065668666200|  4|DEL|DXB|  9W|  9W| 35.39|USD|  4|   V|   V|0548|151123|  OK|INA0|
|79065668718208|  1|DXB|BOM|  9W|  9W| 65.33|USD|  1|   H|   H|0543|151126|  OK|INAQ|
|79065668718208|  2|BOM|DXB|  9W|  9W| 83.03|USD|  2|   S|   S|0536|151227|  OK|INA0|
|79065668767505|  1|AUH|BOM|  9W|  9W|  98.0|USD|  1|   W|   W|0583|150806|  OK|INAQ|
|79065668767505|  2|BOM|BDQ|  9W|  9W| 35.96|USD|  2|   H|   H|0341|150807|  OK|INA0|
|79065668601567|  1|YQR|YYZ|  AC|  AC| 70.63|USD|  1|   L|   L|1114|150820|  OK|IAN0|
|79065668601567|  2|YYZ|DEL|  9W|  9W|269.53|USD|  1|   V|   V|0229|150820|  OK|IAF0|
|79065668601567|  3|DEL|AMD|  9W|  9W| 30.59|USD|  1|   T|   T|0688|150822|  OK|IAN0|
|79065668601567|  4|AMD|DEL|  9W|  9W| 30.59|USD|  1|   T|   T|0689|160331|  OK|IAN0|
|79065668601567|  5|DEL|YYZ|  9W|  9W|269.53|USD|  1|   V|   V|0230|160401|  OK|IAF0|
|79065668601567|  6|YYZ|YQR|  WS|  WS| 70.63|USD|  1|   D|   D|0605|160401|  OK|IAF0|
|79065668674214|  1|BOM|IXE|  9W|  9W|179.49|USD|  1|   J|   J|0433|150720|  OK|INA0|
|79065668737499|  1|DXB|BOM|  9W|  9W|147.01|USD|  1|   H|   H|0579|150720|  OK|INA0|
|79065668460805|  1|AUH|CCJ|  EY|  9W|201.47|USD|  1|   K|   K|6622|150728|  OK|IAA0|
|79062005443274|  1|DXB|DEL|  9W|  9W|115.63|USD|  1|   H|   H|0547|150719|  OK|INJ0|
|79062005443274|  2|DEL|HKG|  9W|  9W|142.99|USD|  1|   H|   H|0078|150721|  OK|INB0|
|79065668498656|  1|HKG|BOM|  9W|  9W|179.22|USD|  1|   V|   V|0075|150720|  OK|INBQ|
|79065668498656|  2|BOM|DXB|  9W|  9W|115.54|USD|  1|   T|   T|0580|150721|  OK|INJ0|
|79065668522212|  1|DXB|BOM|  9W|  9W| 51.72|USD|  1|   H|   H|0543|151003|  OK|INA0|
|79065668522212|  2|BOM|DEL|null|null|   0.0|USD|  1|null|null|VOID|  null|null|INA0|
|79065668522212|  3|DEL|DXB|  9W|  9W| 35.39|USD|  2|   V|   V|0548|151019|  OK|INA0|
|79062005382873|  1|BOM|BLR|  9W|  9W|  65.0|USD|  1|   V|   V|0381|150721|  OK|IAA0|
|79065668463074|  1|DXB|DEL|  9W|  9W| 27.22|USD|  1|   O|   O|0545|151104|  OK|INA0|
|79065668463074|  2|DEL|KTM|  9W|  9W| 42.61|USD|  2|   H|   H|0264|151104|  OK|INA0|
|79065668463074|  3|KTM|DEL|  9W|  9W| 55.12|USD|  3|   H|   H|0259|151206|  OK|INAQ|
|79065668463074|  4|DEL|DXB|  9W|  9W| 35.39|USD|  4|   V|   V|0548|151206|  OK|INA0|
|79062005428495|  1|KTM|DEL|  9W|  9W| 21.63|USD|  1|   W|   W|0259|150721|  OK|INA0|
|79065668493054|  1|MAA|AUH|  9W|  9W|137.64|USD|  1|   H|   H|0526|150720|  OK|INA0|
|79062005477805|  1|BLR|COK|  9W|  9W|  23.5|USD|  1|   W|   W|2655|150722|  OK|IAE0|
|79062005477805|  2|COK|BLR|  9W|  9W|  23.5|USD|  1|   O|   O|2656|150725|  OK|IAE0|
|79065668568508|  1|DXB|COK|  9W|  9W| 217.8|USD|  1|   H|   H|0527|150725|  OK|INA0|
|79065668568508|  2|COK|BOM|  9W|  9W|110.25|USD|  2|   H|   H|0408|150903|  OK|INA0|
|79065668568508|  3|BOM|DXB|  9W|  9W| 87.12|USD|  3|   K|   K|0538|150903|  OK|INA0|
|79065668591073|  1|DXB|IXE|  9W|  9W|112.98|USD|  1|   H|   H|0531|150813|  OK|INAQ|
|79065668591073|  2|IXE|BOM|  9W|  9W| 78.19|USD|  2|   H|   H|0436|150822|  OK|INA0|
|79065668591073|  3|BOM|DXB|  9W|  9W|227.33|USD|  3|   L|   L|0544|150822|  OK|INAQ|
|79065668647348|  1|DXB|DEL|  9W|  9W| 40.83|USD|  1|   O|   O|0547|151023|  OK|INAQ|
|79065668647348|  2|DEL|IXB|  9W|  9W| 114.0|USD|  2|   K|   K|0711|151024|  OK|INA0|
|79065668647348|  3|IXB|DEL|  9W|  9W| 114.0|USD|  3|   K|   K|0712|151031|  OK|INA0|
|79065668647348|  4|DEL|DXB|  9W|  9W| 58.53|USD|  4|   H|   H|0548|151031|  OK|INAQ|
|79065668667040|  1|DXB|BOM|  9W|  9W|111.62|USD|  1|   V|   V|0537|150722|  OK|INA0|
|79065668667040|  2|BOM|AMD|  9W|  9W| 53.17|USD|  2|   H|   H|2001|150723|  OK|INA0|
|79065668533618|  1|AUH|LKO|  9W|  9W|153.82|USD|  1|   O|   O|0511|150918|  OK|INAQ|
|79065668533618|  2|LKO|AUH|  9W|  9W|178.32|USD|  2|   H|   H|0512|151010|  OK|INAQ|
|79065668448969|  1|BKK|DEL|  9W|  9W|143.77|USD|  1|   L|   L|0063|150719|  OK|INA0|
|79065668458324|  1|DEL|DXB|  9W|  9W| 133.4|USD|  2|   K|   K|0548|150727|  OK|INA0|
|79065668477437|  1|AUH|LKO|  9W|  9W| 157.9|USD|  1|   W|   W|0511|150902|  OK|INA0|
|79065668563947|  1|BDQ|BOM|  9W|  9W| 90.45|USD|  1|   K|   K|0346|150724|  OK|INA0|
|79062005691775|  1|BOM|BKK|  9W|  9W| 43.25|USD|  1|   W|   W|0070|150729|  OK|INA0|
|79062005691775|  2|BKK|BOM|  9W|  9W| 43.25|USD|  2|   W|   W|0061|150825|  OK|INA0|
|79065668718959|  1|AUH|DEL|  9W|  9W|174.24|USD|  1|   V|   V|0581|150722|  OK|INA0|
|79062005874124|  1|HYD|BOM|  9W|  9W|  59.1|USD|  1|   T|   T|0456|150831|  OK|INJQ|
|79062005874124|  2|BOM|EWR|  9W|  9W|495.94|USD|  1|   L|   L|0228|150901|  OK|INB0|
|79065668794786|  1|BOM|PNQ|  9W|  9W|381.02|USD|  1|   J|   J|0618|150720|  OK|INA0|
|79065668682281|  1|DMM|CCJ|  9W|  9W|435.44|USD|  1|   L|   L|0577|150720|  OK|INA0|
|79065668702907|  1|DMM|COK|  9W|  9W|190.92|USD|  1|   K|   K|0569|150727|  OK|INA0|
|79065668723645|  1|DMM|DEL|  9W|  9W|188.77|USD|  1|   S|   S|0567|150721|  OK|INJ0|
|79065668723645|  2|DEL|GAU|  9W|  9W| 99.72|USD|  1|   T|   T|0721|150722|  OK|INJ0|
|79065668723645|  3|GAU|DEL|  9W|  9W|151.98|USD|  2|   T|   T|7080|150823|  OK|INJ0|
|79065668723645|  4|DEL|DMM|  9W|  9W|287.69|USD|  2|   U|   U|0568|150823|  OK|INJ0|
|79065668828741|  1|DMM|TRV|  9W|  9W|121.32|USD|  1|   V|   V|0565|150803|  OK|INA0|
|79065668828741|  2|TRV|DMM|  9W|  9W| 96.66|USD|  2|   O|   O|0566|151007|  OK|INA0|
|79065668468485|  1|TRV|DMM|  9W|  9W|511.59|USD|  1|   J|   J|0566|150725|  OK|INAQ|
|79065668468485|  2|DMM|TRV|  9W|  9W|310.22|USD|  2|   I|   I|0565|150805|  OK|INA0|
|79065668504883|  1|JED|BOM|  9W|  9W| 97.42|USD|  1|   O|   O|0521|150823|  OK|INBQ|
|79065668504883|  2|BOM|KTM|  9W|  9W| 40.96|USD|  1|   O|   O|0266|150824|  OK|INJ0|
|79065668511957|  1|JED|BOM|  9W|  9W|165.73|USD|  1|   S|   S|0521|150727|  OK|INA0|
|79065668511957|  2|BOM|CCJ|  9W|  9W|130.26|USD|  2|   H|   H|0423|150728|  OK|INAQ|
|79065668517163|  1|DMM|TRV|  9W|  9W|204.59|USD|  1|   Q|   Q|0565|150720|  OK|INA0|
|79065668517163|  2|TRV|DMM|  9W|  9W|  68.2|USD|  2|   W|   W|0566|151021|  OK|INA0|
|79065668530337|  1|DMM|COK|  9W|  9W| 92.96|USD|  1|   V|   V|0569|150804|  OK|INA0|
|79065668530337|  2|COK|DMM|  9W|  9W|136.35|USD|  2|   K|   K|0570|150901|  OK|INA0|
|79065668586691|  1|DMM|CCJ|  9W|  9W|371.98|USD|  1|   Q|   Q|0577|150722|  OK|INA0|
|79065668617456|  1|DMS|BAH|  9W|  9W| 19.46|USD|  1|   S|   S|7483|150917|  OK|INB0|
|79065668617456|  2|BAH|BOM|  9W|  9W|205.22|USD|  1|   S|   S|0591|150917|  OK|INJ0|
|79065668617456|  3|BOM|BDQ|  9W|  9W| 42.13|USD|  1|   S|   S|0341|150918|  OK|INJ0|
|79065668617456|  4|BDQ|BOM|  9W|  9W| 24.56|USD|  2|   T|   T|0461|151017|  OK|INJ0|
|79065668617456|  5|BOM|DMM|  9W|  9W|122.73|USD|  2|   H|   H|0564|151017|  OK|INJ0|
|79065668682378|  1|DMM|CCJ|  9W|  9W|273.57|USD|  1|   Q|   Q|0577|150723|  OK|INA0|
|79065668682378|  2|CCJ|DMM|  9W|  9W|117.87|USD|  2|   V|   V|0578|151123|  OK|INA0|
|79065668707705|  1|DMM|TRV|  9W|  9W|146.39|USD|  1|   V|   V|0565|150728|  OK|IAA0|
|79065668709386|  1|DMM|CCJ|  9W|  9W| 99.19|USD|  1|   W|   W|0577|150909|  OK|INA0|
|79065668742425|  1|DMM|BOM|  9W|  9W|117.71|USD|  1|   K|   K|0563|150724|  OK|INA0|
|79065668742425|  2|BOM|DMM|  9W|  9W| 68.15|USD|  2|   V|   V|0564|151123|  OK|INA0|

In [46]:
raw_coupons.registerTempTable("records")
ndf = session.sql('select _c0, _c1, _c2, _c3, _c4, _c5, _c6 from records where _c3 = "MAD"').show()

+--------------+---+---+---+---+---+------+
|           _c0|_c1|_c2|_c3|_c4|_c5|   _c6|
+--------------+---+---+---+---+---+------+
|79062005639642|  4|BRU|MAD| UX| UX| 21.02|
|79065668754871|  6|BRU|MAD| SN| 9W| 27.66|
|79065668917696|  2|CDG|MAD| AF| AF| 46.97|
|79062006133090|  2|CDG|MAD| AF| AF|  3.38|
|79062006110497|  1|CDG|MAD| AF| AF| 26.02|
|79062006110505|  1|CDG|MAD| AF| AF| 26.02|
|79062006137072|  3|ORY|MAD| UX| AF|  87.2|
|79062006116586|  2|CDG|MAD| AF| AF| 31.51|
|79062006128336|  4|CDG|MAD| AF| AF| 26.63|
|79062006163025|  2|JFK|MAD| DL| AF|110.28|
|79062006146358|  2|PRG|MAD| IB| OK| 72.03|
|79062006146359|  2|PRG|MAD| IB| OK| 72.03|
|79062006025679|  1|PRG|MAD| OK| OK| 82.16|
|79062006015995|  4|CDG|MAD| AF| AF|158.96|
|79062006060426|  1|ORY|MAD| UX| AF|141.23|
|79062006070095|  1|ORY|MAD| UX| AF| 85.53|
|79062006074377|  1|CDG|MAD| AF| AF| 85.53|
|79062006078177|  2|CDG|MAD| AF| AF|  9.11|
|79062006080228|  2|CDG|MAD| AF| AF| 20.25|
|79062005980557|  1|CDG|MAD| AF| AF|  6.74|
+--------------+---+---+---+---+---+------+
only showing top 20 rows

#### Exercise

Repeat the exercise from the previous notebook, but this time with DataFrames.

Get stats for all tickets with destination MAD from `coupons150720.csv`.

You will need to extract ticket amounts with destination MAD, and then calculate:

1. Total ticket amounts per origin
2. Top 10 airlines by average amount

## Further Reading

https://databricks.com/blog/2016/07/14/a-tale-of-three-apache-spark-apis-rdds-dataframes-and-datasets.html

https://www.datacamp.com/community/tutorials/apache-spark-python

https://spark.apache.org/docs/2.2.0/sql-programming-guide.html

https://ogirardot.wordpress.com/2015/05/29/rdds-are-the-new-bytecode-of-apache-spark/

https://stackoverflow.com/questions/36822224/what-are-the-pros-and-cons-of-parquet-format-compared-to-other-formats